:root {
  --mode-scale: 0;
}

#desktop-nav-bar {
  width: 100%;
  height: 8vh;
  display: grid;
  grid: auto/ repeat(8, 1fr);
  justify-content: center;
  position: fixed;
  color: inherit;
  overflow:hidden;
  clip: rect(auto, auto, auto, auto);
}
#mobile-nav-bar {
  width: 100%;
  height: 10vh;
  display: grid;
  grid: auto/ repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  position: fixed;
  color: inherit;
  overflow:hidden;
}
#logo {
  text-decoration: none;
  grid-column: 1/5;
  color: inherit;
  height:10vh;
  width: fit-content;
}
#logo h1{
  height: 100%;
  width: fit-content;
}
#desktop-menu {
  grid-column: 6/8;
  display: flex;
  align-items: center;
  gap:10%;
  color: inherit;
  text-align: center;
}
#desktop-menu a {
  text-decoration: none;
  color: inherit;
  width:fit-content;
}
#desktop-dark-mode {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  position: relative;
  grid-column: 8;
  margin:auto;
}
#mode-contents {
  width: fit-content;
  height: fit-content;
}
#dark-icon,
#light-icon {
  font-size: 36px;
}

#hamburger-button {
  background: transparent;
  border: none;
  grid-column: 8;
  z-index: 15;
  display:flex;
  margin-right:1em;
}

div.ripple {
  position: fixed;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-background 2000ms ease-in;
  background-color: white;
  z-index: -10;
}

@keyframes ripple-background {
  to {
    transform: scale(var(--mode-scale));
  }
}

@keyframes spin1 {
  100% {
    transform: rotate(360deg);
  }
}

#mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100%;
  text-align: center;
  color: inherit;
  background: white;  
  opacity: 0;
  display:grid;
  grid:1fr auto/auto;
  justify-content: center;
  z-index: 9;
  display: none;
  top:0;
}
#mobile-menu a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  width:100%;
}
#mobile-menu-list{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  width:50vw;
  font-size: 3rem;
}
#mobile-dark-div{
  display:flex;
  justify-content: center;
}
#mobile-menu #mobile-dark-mode{
  margin-bottom: 70%;
  top:0;
}
#mobile-dark-mode {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  position: relative;
  top: 35%;
}


#desktop-home-body{
  height:500vh;
  width:100%;
  position: relative;
  top:8vh;
  z-index: -1;
}

#mobile-home-body{
  height:500vh;
  width:100%;
  position: relative;
  top:10vh;
  z-index: -1;
}

#desktop-about-body{
  height:500vh;
  width:100%;
  position: relative;
  top:8vh;
  z-index: -1;
}

#mobile-about-body{
  height:500vh;
  width:100%;
  position: relative;
  top:10vh;
  z-index: -1;
}