:root {
  --mode-scale: 0;
}

#nav-bar {
  width: 100%;
  height: 8vh;
  display: grid;
  grid: auto/ repeat(8, 1fr);
  justify-content: center;
  color: white;
  mix-blend-mode: difference;
  z-index: 10;
  position: fixed;
}
#logo {
  text-decoration: none;
  grid-column: 1/3;
  color: white;
  mix-blend-mode: difference;
}
#menu {
  list-style: none;
  grid-column: 5/8;
  mix-blend-mode: difference;
}
#menu a {
  color: white;
  text-decoration: none;
}
#dark-mode {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  mix-blend-mode: difference;
  color: white;
  position: relative;
  top: 35%;
}
div.ripple {
  position: fixed;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-background 2000ms ease-in;
  background-color: white;
  z-index: -1;
}

@keyframes ripple-background {
  to {
    transform: scale(var(--mode-scale));
  }
}

@keyframes spin1 {
  100% {
    transform: rotate(360deg);
  }
}
