:root {
  --mode-scale: 0;
}

#nav-bar {
  width: 100%;
  height: 8vh;
  display: grid;
  grid: auto/ repeat(8, 1fr);
  justify-content: center;
  position: fixed;
  color: inherit;
}
#logo {
  text-decoration: none;
  grid-column: 1/5;
  color: inherit;
}
#menu {
  list-style: none;
  grid-column: 5/8;
}
#menu a {
  text-decoration: none;
  color: inherit;
}
#dark-mode {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  position: relative;
  top: 35%;
  grid-column: 8;
}
#mode-contents {
  width: fit-content;
  height: fit-content;
}
#dark-icon,
#light-icon {
  font-size: 36px;
}

#hamburger-button {
  background: transparent;
  border: none;
  grid-column: 8;
  z-index: 15;
}

div.ripple {
  position: fixed;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-background 2000ms ease-in;
  background-color: white;
  z-index: -1;
}

@keyframes ripple-background {
  to {
    transform: scale(var(--mode-scale));
  }
}

@keyframes spin1 {
  100% {
    transform: rotate(360deg);
  }
}

#mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100%;
  text-align: center;
  color: inherit;
  background: white;  
  opacity: 0;
  display:grid;
  grid:1fr auto/auto;
  justify-content: center;
}
#mobile-menu a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  width:100%;
}
#mobile-menu-list{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  width:50vw;
  font-size: 4rem;
}
#mobile-dark-div{
  display:flex;
  justify-content: center;
}
#mobile-menu #mobile-dark-mode{
  margin-bottom: 35%;
  top:0;
}
#mobile-dark-mode {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  position: relative;
  top: 35%;
}