:root {
  --mode-scale: 0;
  --blackhole-color: white;
  --blackhole-color-2: black;
  --blackhole-bg-1-d: #9448bc;
  --blackhole-bg-2-d: #90fcf9;
  --blackhole-bg-3-d: #9448bc; /* FF6F00 */
  --blackhole-bg-1-w: #059eff;
  --blackhole-bg-2-w: #44e1fe;
  --blackhole-bg-3-w: #00b2ff;
  --body-height: null;
  --tag-bg: black;
  --tag-color: white;
  --input-bg: null;
  --option-bg: null;
  --option-highlight-bg: null;
  --chip-text-color:null;
  --text-color:null;
}
#bg-blur {
  backdrop-filter: blur(75px);
  height: var(--body-height);
  width: 100%;
  position: absolute;
  margin: auto;
  /* z-index: -2; */
}

#desktop-nav-bar {
  width: 100%;
  height: 8vh;
  display: grid;
  grid: auto/ repeat(8, 1fr);
  justify-content: center;
  position: fixed;
  color: inherit;
  overflow: hidden;
  clip: rect(auto, auto, auto, auto);
  z-index: 15;
}
#mobile-nav-bar {
  width: 100%;
  height: 10vh;
  display: grid;
  grid: auto/ repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  position: fixed;
  color: inherit;
  overflow: hidden;
  z-index: 15;
}
#desktop-logo {
  margin-left: 1vw;
  text-decoration: none;
  grid-column: 1/5;
  color: inherit;
  height: 8vh;
  width: fit-content;
}
#desktop-logo .letter {
  opacity: 0;
  position: relative;
}
#mobile-logo {
  margin-left: 1vw;
  text-decoration: none;
  grid-column: 1/5;
  color: inherit;
  height: 10vh;
  width: fit-content;
}
#mobile-logo h1 {
  height: 100%;
  width: fit-content;
}
#desktop-menu {
  grid-column: 6/8;
  display: flex;
  align-items: center;
  gap: 10%;
  color: inherit;
  text-align: center;
}
#desktop-menu a {
  text-decoration: none;
  color: inherit;
  width: fit-content;
}
#desktop-dark-mode {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  position: relative;
  grid-column: 8;
  margin: auto;
}
#mode-contents {
  width: fit-content;
  height: fit-content;
}
#dark-icon,
#light-icon {
  font-size: 36px;
}

#hamburger-button {
  background: transparent;
  border: none;
  grid-column: 8;
  z-index: 20;
  display: flex;
  margin-right: 1em;
}

div.ripple {
  position: fixed;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-background 2000ms ease-in;
  background-color: white;
  z-index: -10;
}

@keyframes ripple-background {
  to {
    transform: scale(var(--mode-scale));
  }
}

@keyframes spin1 {
  100% {
    transform: rotate(360deg);
  }
}

#mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100%;
  text-align: center;
  color: inherit;
  background: white;
  opacity: 0;
  display: grid;
  grid: 1fr auto/auto;
  justify-content: center;
  z-index: 9;
  display: none;
  top: 0;
}
#mobile-menu a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  width: 100%;
}
#mobile-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  width: 50vw;
  font-size: 3rem;
}
#mobile-dark-div {
  display: flex;
  justify-content: center;
}
#mobile-menu #mobile-dark-mode {
  margin-bottom: 70%;
  top: 0;
}
#mobile-dark-mode {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  position: relative;
  top: 35%;
}

#home-body {
  width: 100%;
  position: relative;
  height: var(--body-height);
}
#home-body-intro {
  height: 100vh;
  width: 100%;
  position: absolute;
  /* z-index: -1; */
  color: inherit;
  background-color: transparent;
}

#home-title-1 {
  margin-top: 20vh;
  text-align: center;
}
#home-title-1 .letter {
  opacity: 0;
}

#blackhole-div {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#blackhole-outline {
  position: absolute;
}
#blackhole-outline path {
  fill: none;
  stroke: var(--blackhole-color);
  stroke-width: 1px;
}
#blackhole-fill {
  position: absolute;
  transform: scale(0);
}
#blackhole-fill path {
  fill: var(--blackhole-color);
}
#blackhole-fill-2 {
  position: absolute;
  transform: scale(0);
}
#blackhole-fill-2 path {
  fill: var(--blackhole-color-2);
  stroke: var(--blackhole-color-2);
  stroke-width: 1.1px;
}
#blackhole-home {
  filter: drop-shadow(0px 0px 10px var(--blackhole-color));
  z-index: 9;
}
#blackhole-home path {
  fill: var(--blackhole-color-2);
  stroke: var(--blackhole-color-2);
}
.blackhole {
  width: 20vw;
  height: 20vh;
}
#blackhole-bg-1-dark {
  width: 40vw;
  height: 40vw;
  border-radius: 63% 50% 55% 42% / 67% 47% 65% 47%;
  z-index: -4;
  opacity: 0.3;
  position: absolute;
  background: linear-gradient(-45deg, var(--blackhole-bg-1-d), #121212, #121212);
}
#blackhole-bg-1-light {
  width: 40vw;
  height: 40vw;
  border-radius: 63% 50% 55% 42% / 67% 47% 65% 47%;
  z-index: -4;
  opacity: 0.3;
  position: absolute;
  background: linear-gradient(-45deg, white, white, white);
}
#blackhole-bg-2-dark {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  background: var(--blackhole-bg-2-d);
  z-index: -4;
  border: 60px double var(--blackhole-bg-2-d);
  box-sizing: content-box;
  padding: 40px;
  opacity: 1;
}
#blackhole-bg-2-light {
  position: absolute;
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  background: var(--blackhole-bg-2-w);
  z-index: -4;
  border: 60px double var(--blackhole-bg-2-w);
  box-sizing: content-box;
  padding: 40px;
  opacity: 1;
}
#blackhole-bg-3-dark {
  position: absolute;
  width: 10vw;
  height: 10vw;
  background: var(--blackhole-bg-3-d);
  border-radius: 63% 50% 55% 42% / 67% 47% 65% 47%;
  z-index: -3;
  opacity: 1;
}
#blackhole-bg-3-light {
  position: absolute;
  width: 15vw;
  height: 15vw;
  background: var(--blackhole-bg-3-w);
  border-radius: 63% 50% 55% 42% / 67% 47% 65% 47%;
  z-index: -3;
  opacity: 1;
}
#blackhole-bg-blur {
  backdrop-filter: blur(75px);
  height: 200%;
  width: 100%;
  position: absolute;
  margin: auto;
  z-index: -2;
}
#home-arrow {
  width: 5vw;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 90vh;
  mix-blend-mode: difference;
}

#home-arrow path {
  fill: none;
  stroke: white;
  stroke-width: 1px;
}

#home-body-projects {
  height: auto;
  width: 100%;
  top: 100vh;
  position: absolute;
}
#home-body-projects h1 {
  text-align: center;
  margin: 2em 0 2.6em 0;
  font-weight: 450;
}
.large-project-l {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 5%;
}
.large-project-r {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
  gap: 5%;
}

.large-project-img {
  width: 30vw;
  margin-left: 10vw;
}
.large-project-text {
  width: 50%;
  margin-right: 10vw;
}
.large-project-text h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.4rem;
  font-weight: 350;
}
.large-project-text p {
  text-align: center;
  width: 75%;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: 1.4em;
}
.large-project-tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.6em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.tag {
  text-decoration: none;
  color: var(--tag-bg);
  background-color: transparent;
  border-radius: 1rem;
  border-style: solid;
  padding: 0.3em 0.8em 0.4em 0.8em;
  font-size: 0.8rem;
  font-weight: 600;
  border-width: 0.2em;
  border-color: var(--tag-bg);
}
.tag:hover {
  background-color: var(--tag-bg);
  border-color: var(--tag-bg);
  color: var(--tag-color);
}

#about-body {
  height: 500vh;
  width: 100%;
  position: relative;
}
#about-body h1 {
  margin-top: 8vh;
}

#projects-body {
  width: 100%;
  position: relative;
}
#projects-body h1 {
  margin-top: 8vh;
}
#projects-body-bar {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  top: 8vh;
  fill:var(--text-color);
  stroke: var(--text-color);
}
#projects-body-filter-search-bar {
  opacity: 0;
}
.search-wrapper {
  max-width: 60vw !important;
  min-height: 2.5em !important;
  background: var(--input-bg);
  border: none !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap ;
  justify-content: flex-start;
  align-items: center;
}
.search-wrapper .chip {
  background: var(--option-highlight-bg);
  color: var(--chip-text-color);
  fill: var(--chip-text-color);
  white-space: normal;
  margin-bottom:0;
}
#chip-close-icon {
  height: 24px;
  width: auto;
}
#chip-close-icon path{
  fill: inherit;
}
.search-wrapper input {
  color: inherit !important;
  width:100%;
}
.optionContainer,
.optionListContainer {
  border: none !important;
  background: transparent !important;
}
.option {
  background: var(--option-bg) !important;
}
.notFound{
  background: var(--option-bg) !important;
}
.optionListContainer li:hover {
  background: var(--option-highlight-bg) !important;
}
.highlightOption {
  background: var(--option-highlight-bg) !important;
  white-space: normal !important;
}

#projects-body-bar-filter-button{
  background: transparent;
  border: none;
}
#projects-body-bar-filter-icon{
  fill:inherit;
  stroke: none !important;
}

#projects-body-bar-view-button{
  background: transparent;
  border: none;
}

#projects-body-bar-list-icon{
  fill:inherit;
  stroke: inherit !important;
}
#projects-body-bar-view-icon{
  fill:inherit;
  stroke: inherit !important;
}

#projects-filter-search-bar {
}
#projects-body-bar h2 {
}

#projects-body-projects{
  height:100vh;
  width:100%;
}

#footer {
  width: 100%;
  height: 10vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer p {
  text-align: center;
  margin: 0 8% 0 8%;
  font-size: 1rem;
  font-weight: 350;
}

@media (max-width: 768px) {
  /* #blackhole-home {
  filter: drop-shadow(0px 0px 10px var(--blackhole-color)) !important;
} */
  #home-body {
    width: 100%;
    position: relative;
    height: var(--body-height);
  }
  #home-title-1 {
    max-width: 85%;
    margin: auto;
    margin-top: 18vh;
    text-align: center;
    font-size: 1.8rem;
  }
  .blackhole {
    width: 50vw !important;
    height: 50vw !important;
  }
  #blackhole-bg-2-dark {
    width: 25vw !important;
    height: 25vw !important;
  }
  #blackhole-bg-3-dark {
    width: 45vw !important;
    height: 45vw !important;
  }
  #blackhole-bg-2-light {
    width: 40vw !important;
    height: 40vw !important;
  }
  #blackhole-bg-3-light {
    width: 45vw !important;
    height: 45vw !important;
  }
  #blackhole-bg-blur {
    backdrop-filter: blur(50px);
  }
  #home-arrow {
    width: 20vw;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 75vh;
    mix-blend-mode: difference;
  }
  #home-body-projects h1 {
    text-align: center;
    margin: 0.6em 0 2em 0;
    font-weight: 450;
  }
  .large-project-m {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
  }
  .large-project-img {
    width: 80vw;
    margin: 0;
    margin-bottom: 2rem;
  }
  .large-project-text {
    width: 100%;
    margin: 0;
  }
  .large-project-tags {
    width: 95%;
  }
  #about-body {
    height: 500vh;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  #about-body h1 {
    margin-top: 10vh;
  }
  #projects-body {
    width: 100%;
    position: relative;
  }
  #projects-body h1 {
    margin-top: 10vh;
  }
}
